<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>JS.coach</title>

    <meta name="description" content="Manually curated list of packages for React, Webpack and others" />

    <meta property="og:url" content="https://js.coach" />
    <meta property="og:site_name" content="JS.coach" />

    <meta property="og:title" content="<%= @package.name %>" />
    <meta property="og:description" content="<%= @package.description %>" />
    <meta property="og:image" content="https://github.com/<%= @package.repo_user %>.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@_jscoach" />

    <meta name="twitter:title" content="<%= @package.name %>" />
    <meta name="twitter:description" content="<%= @package.description %>" />
    <meta name="twitter:image" content="https://github.com/<%= @package.repo_user %>.png" />

    <meta http-equiv="refresh" content="0; url=https://js.coach/<%= params[:path] %>" />
  </head>
  <body>
  </body>
</html>